<article class="webring">
    <header class="webring__header">
        <h1 class="webring__title">{{ meta.title }}</h1>
<details>
<summary><b>{{ meta.description }}</b></summary>
        <p>{{ meta.description_full }}</p>
</details>
        <a href="mailto:{{ meta.email }}"> {{ meta.email }} </a>
    </header>
        
    <div class="webring__body">
        <div class="webring__subtitle">
            <h2 class="h3">Members ({{ members | length }})</h2>
            <a href="/feeds.xml" target="_blank">RSS Feeds</a>
        </div>

        <ol class="webring__memberlist">
            {% for member in members %}
            <li class="webring__member">
                <a href="{{ member.url }}" class="webring__link" target="_blank">{{ member.title }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
</article>
